[submodule "trabajos/informe-final/grupo-1/Trabajo-Final-CS-Abierta"]
	path = trabajos/informe-final/grupo-1/Trabajo-Final-CS-Abierta
	url = https://github.com/nonJaako/Trabajo-Final-CS-Abierta.git
	ignore = dirty
[submodule "trabajos/informe-final/grupo-2/cohesion-vertical"]
	path = trabajos/informe-final/grupo-2/cohesion-vertical
	url = https://github.com/x0czz/cohesion-vertical.git
	ignore = dirty
[submodule "trabajos/informe-final/grupo-3/T2_cienciabierta_g3"]
	path = trabajos/informe-final/grupo-3/T2_cienciabierta_g3
	url = https://github.com/Cabvens/T2_cienciabierta_g3.git
	ignore = dirty
[submodule "trabajos/informe-final/grupo-4/CSA-Trabajo2"]
	path = trabajos/informe-final/grupo-4/CSA-Trabajo2
	url = https://github.com/pipoowo/CSA-Trabajo2.git
	ignore = dirty
[submodule "trabajos/informe-final/grupo-5/evaluacion-final-cienciasocialabierta-grupo5"]
	path = trabajos/informe-final/grupo-5/evaluacion-final-cienciasocialabierta-grupo5
	url = https://github.com/amarantagonzalez-09/evaluacion-final-cienciasocialabierta-grupo5.git
	ignore = dirty
[submodule "trabajos/informe-final/grupo-6/evaluacion-final-grupo-6"]
	path = trabajos/informe-final/grupo-6/evaluacion-final-grupo-6
	url = https://github.com/renatodeluca/evaluacion-final-grupo-6
	ignore = dirty
[submodule "trabajos/informe-final/grupo-7/trabajo-2-grupo-7"]
	path = trabajos/informe-final/grupo-7/trabajo-2-grupo-7
	url = https://github.com/Sebagarz/trabajo-2-grupo-7
	ignore = dirty
[submodule "trabajos/informe-final/grupo-8/reporte-abierto-cuech"]
	path = trabajos/informe-final/grupo-8/reporte-abierto-cuech
	url = https://github.com/ElSenorDeLasMoscas/reporte-abierto-cuech
	ignore = dirty
[submodule "trabajos/informe-final/grupo-9/Trabajo-2"]
	path = trabajos/informe-final/grupo-9/Trabajo-2
	url = https://github.com/Fran1129/Trabajo-2
	ignore = dirty
[submodule "trabajos/informe-final/grupo-10/reporte-conflicto-democracia"]
	path = trabajos/informe-final/grupo-10/reporte-conflicto-democracia
	url = https://github.com/dariobriceno-uch/reporte-conflicto-democracia
	ignore = dirty
