[submodule "trabajos/informe-final/grupo-6/evaluacion-final-grupo-6"]
	path = trabajos/informe-final/grupo-6/evaluacion-final-grupo-6
	url = https://github.com/renatodeluca/evaluacion-final-grupo-6
[submodule "trabajos/informe-final/grupo-7/trabajo-2-grupo-7"]
	path = trabajos/informe-final/grupo-7/trabajo-2-grupo-7
	url = https://github.com/Sebagarz/trabajo-2-grupo-7
[submodule "trabajos/informe-final/grupo-8/reporte-abierto-cuech"]
	path = trabajos/informe-final/grupo-8/reporte-abierto-cuech
	url = https://github.com/ElSenorDeLasMoscas/reporte-abierto-cuech
[submodule "trabajos/informe-final/grupo-9/Trabajo-2"]
	path = trabajos/informe-final/grupo-9/Trabajo-2
	url = https://github.com/Fran1129/Trabajo-2
[submodule "trabajos/informe-final/grupo-10/reporte-conflicto-democracia"]
	path = trabajos/informe-final/grupo-10/reporte-conflicto-democracia
	url = https://github.com/dariobriceno-uch/reporte-conflicto-democracia